<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/custom-style.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c017cf284.js" crossorigin="anonymous"></script>
 
    <link rel="stylesheet"  href="/css/settings.css">
    <link rel="stylesheet"  href="/css/styles.css">
  </head>

  <body>
    <header>
        <div class="contenedor-logoinputmanoytexto">
        
           <div  class="logo">
             <img src="/images/logo-mercado-liebre.svg" >
           </div>
        
           <div class="input">Buscar productos , marcas <i class="fa fa-search"></i></div> 
         
            <div class="manoytexto" >
            <h3><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de crédito</h3>
           </div>
        </div>
       
     
         <nav  class="contenedor-site-login">
           <ul>
             <div class="site">
             <li><a>Ofertas </a></li>
             <li><a>Tiendas Oficiales</a></li>
             <li><a>Vender</a></li>
             <li><a>Ayuda</a></li>
             </div>
             
             <div class="login">
             <li><a>Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
             <li><a>Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
             <li><a>Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
             </div>
     
           </ul>
         </nav>
         <nav class="hamburguesa">
         <div class="burguer-menu">
         <i class="fas fa-bars burguer"></i>
         </div>    
         </nav>
         
       </header>
     
       <section>
     
       <img src="/images/img-home-banner.jpg">
     
       </section>
       
       <main>
        <h3 class="visita-ofertas" >Basado en tu última visita</h3>
         <section>
              
     
           <article>
              <div class="primero">  
                 <img src="./images/img-cafetera-moulinex.jpg" >
              </div>
                    <div class="segundo">
                    <div class="entrega">  
                      <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="predesc">
                    <h4 class="precio">$6770</h4><h4 class="descuentos">40% Off</h4>
                    </div>
                    <h3 class="descripciones">Cafetera Moulinex</h3>
                 </div>
              </div>
           </article>
       
           <article> 
              <div class="primero">  
                 <img src="./images/img-macbook-pro-2019.jpg" >
              </div>
              <div class="segundo">
                 <div class="entrega">  
                   <i class="fa-solid fa-truck"></i>
                 </div>
                 <div class="predesc">
                 <h4 class="precio">$230000</h4><h4 class="descuentos">20% Off</h4>
                 </div>
                 <h3 class="descripciones">MacBook Pro 2019</h3>
                  </div>      
              
           </article>
             
           <article>
              <div class="primero"> 
                 <img src="./images/img-samsung-galaxy-s10.jpg" >
             </div>
             <div class="segundo">
              <div class="entrega">  
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="predesc">
              <h4 class="precio">$70500</h4><h4 class="descuentos">10% Off</h4>
              </div>
              <h3 class="descripciones">Samsung Galaxy S10</h3>
             </div>      
             
           </article>
     
           <article>
             <div class="primero"> 
                 <img src="./images/img-tv-samsung-smart.jpg" >
             </div>
             <div class="segundo">
              <div class="entrega">  
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="predesc">
              <h4 class="precio">$23200</h4><h4 class="descuentos">5% Off</h4>
              </div>
              <h3 class="descripciones">SmartTV Samsung 43"</h3>
             </div>      
            
           </article>
     
       </section>
         
         <h3 class="visita-ofertas"  >Ofertas</h3>
             
         <section>
     
             
             <article>
               <div class="primero">  
                  <img src="./images/img-cafetera-moulinex.jpg" >
               </div>
               <div class="segundo">
                 <div class="entrega">  
                   <i class="fa-solid fa-truck"></i>
                 </div>
                 <div class="predesc">
                 <h4 class="precio">$6770</h4><h4 class="descuentos">40% Off</h4>
                 </div>
                 <h3 class="descripciones">Cafetera Moulinex</h3>
              </div>
            </article>
        
            <article> 
               <div class="primero">  
                  <img src="./images/img-macbook-pro-2019.jpg" >
               </div>
               <div class="segundo">
                 <div class="entrega">  
                   <i class="fa-solid fa-truck"></i>
                 </div>
                 <div class="predesc">
                 <h4 class="precio">$230000</h4><h4 class="descuentos">20% Off</h4>
                 </div>
                 <h3 class="descripciones">MacBook Pro 2019</h3>
                  </div>      
            </article>
              
            <article>
               <div class="primero"> 
                  <img src="./images/img-samsung-galaxy-s10.jpg" >
              </div>
              <div class="segundo">
                  <div class="entrega">  
                    <i class="fa-solid fa-truck"></i>
                  </div>
                  <h4 class="visita-ofertas">$70500</h4>
                  <h4 class="descuentos">10% Off</h4>
                  <h3 class="descripciones">Samsung Galaxy S10</h3>
              </div>
            </article>
      
            <article>
              <div class="primero"> 
                  <img src="./images/img-tv-samsung-smart.jpg" >
              </div>
              <div class="segundo">
                 <div class="entrega">  
                   <i class="fa-solid fa-truck"></i>
                 </div>
                 <div class="predesc">
                 <h4 class="precio">$23200</h4><h4 class="descuentos">5% Off</h4>
                 </div>
                 <h3 class="descripciones">SmartTV Samsung 43"</h3>
               </div>      
            </article>
          </section>
          
         </main>
         
         <footer>
           <ul>
             <li>
             <div><i class="fa-solid fa-credit-card"></i></div>
             <h3>Pagá con tarjeta o en efectivo</h3>
             <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en 
             puntos de pago.¡Y siempre es seguro! </p>
              </li>
             <li>
              <div><i class="fa-solid fa-gift"></i></div>
              <h3>Envío gratis desde los $2500</h3>
              <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles 
               de productos.Es un beneficio de Mercado Puntos.</p>
              </li>
              <li>
              <div><i class="fa-solid fa-user-shield"></i></div>
              <h3>Seguridad de principio a fin</h3>
              <p>¿No te  gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer 
               porque estás siempre protegid@</p>
              </li>
              <br>
              <li><h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3></li>
     
           </ul>
           
         </footer>



  </body>

</html>